@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form enctype="multipart/form-data" method="post">
        <div class="container">
            <h1 class="display-4">"Pico y Placa" Predictor</h1>
            <div class="row">
                <div class="col-2">License Plate</div>
                <div class="col-4">
                    <input type="text" asp-for="PicoYPlacaInputs.LicensePlate" />
                </div>
            </div>
            <div class="row">
                <div class="col-2">Date</div>
                <div class="col-4">
                    <input type="text" asp-for="PicoYPlacaInputs.Date" />
                </div>
            </div>
            <div class="row">
                <div class="col-2">Time</div>
                <div class="col-4">
                    <input type="text" asp-for="PicoYPlacaInputs.Time" />
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <input type="submit" value="Predict" />
                </div>
            </div>
        </div>
        <div class="col-2">@Html.DisplayFor(model => model.PicoYPlacaPrediction.Message)</div>
        <input type="hidden" value="@Html.DisplayFor(model => model.PicoYPlacaPrediction.Code)" />
        @{
            var colorStyle = "white";
            if (Model.PicoYPlacaPrediction.Code == 1)
            {
                colorStyle = "green";
            }
            else if (Model.PicoYPlacaPrediction.Code == 2)
            {
                colorStyle = "yellow";
            }
            else if (Model.PicoYPlacaPrediction.Code == 3)
            {
                colorStyle = "red";
            }
        }
    <div class="col-2"><input type="text" style="background-color:@colorStyle" value="" /></div>

</form>

</div>
